body {
    background-color: black;
}

p1 {
    color: white;
    font-family: 'Calligraffiti', sans-serif;
    font-size: 500%;

}

p2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


@media (max-width:40rem) {
    p1 {
        font-size: 20px;
    }
}

.item-button{
}

pd {
    bottom: 5px;
    position: relative;
    text-align: center;
    margin-right: 50%;

}

.items {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 5px 5px 5px 0 rgba(238, 10, 10, .3);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.main {
    position: relative;
    text-align: center;
    color: white;
}



.parentContainer {
    background-color: #D9D9D9;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    overflow: auto;

}

table,th,td {
    border-style:dashed;
    border-width:1px;
    overflow: hidden;
     
}

.item{
    background-color:#E9E6E6;
    border-radius: 5px;
    box-sizing: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemImg{
    
}
.items-column {  
    
    display: inline-block;
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 50px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (Max-width:48rem) {
    .items-column{
        float:left;
        width:50%
    }
}


.bottom {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

.column {
    float: left;
    width: 25%;


}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.right {
    margin-left: 80%;
    margin-right: 10%;
}
