body {
    background-color: black;
}

p1 {
    color: white;
    font-family: 'Calligraffiti', sans-serif;
    font-size: 500%;
    opacity: 1;

}

p2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white
}

pd {
    bottom: 5px;
    position: relative;
    text-align: center;
    margin-right: 50%;

}

.about a {
    float: left;
    color: #E9E6E6;
    margin-right: 1rem;
    text-decoration: none;
    margin-right: .5rem;
}

.pagesList {
    flex-direction: column;
    float: left
}

.pagesList a {
    display: block;
    font-size: larger;
}

.login-container {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/wishbackground2.png');
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    width: 70%;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:48rem) {
    p1 {
        font-size: 20px;

    }

    .item-details {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .wishButton {
        margin-right: 1rem;
    }

    .header {
        margin-bottom: 10px;
    }

    .login-container {
        height: 10rem;
        width: 80%;
    }

    .social-media {
        display: flex;
        flex-wrap: wrap;
    }
}

.logout-container {
    display: block;
    right: 0px;
    position: absolute;
    margin-top: 30px;

}


.placeholder-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.userName-password {

    border: none;
    width: 6rem;
    height: 1rem;
    border-radius: .5rem;
    border-color: white;
    margin-bottom: 5px;
}

.signIn-Password {

    border: none;
    width: 6rem;
    height: 1rem;
    border-radius: .5rem;
    border-color: white;
}


.loginBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.signInBtn {
    display: inline-block;
    border: none;
    background-color: #FF4500;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    animation: pulsate 1.5s ease-in-out infinite;
    position: relative;
    overflow: hidden;

}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.signInBtn:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #FF6347, #00FFFF, #f0e9e7, purple);
    background-size: 400% 400%;
    animation: gradient-border 10s ease infinite;
    border-radius: 6px;
}


.login-btn {
    color: white;
    background-color: black;
    float: right;
    margin-left: .5rem
}

.login-register {
    display: flex;
    justify-content: center;
}

.loginDisplay {
    margin-top: .5rem;
}

.register-display {
    margin-top: .5rem;
}

.register {
    margin-left: .2rem;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
    color: white;
    font-size: larger;
    box-shadow: 5px 5px 5px #A90B0B;
    border-radius: 5px;
    width: 80%;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.aboutMe p {
    margin-left: 5px;
    margin-right: 5px;

}

.about .wish-Btn {
    position: block;
    float: right;
    background-color: black;
    color: white;
    width: fit-content;
    font-size: smaller;
}

.items {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 5px 5px 5px 0 rgba(238, 10, 10, .3);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.main {
    position: relative;
    text-align: center;
    color: white;
}



.parentContainer {
    background-color: #D9D9D9;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}



.item {
    background-color: #E9E6E6;
    border-radius: .5rem;
    height: 95%;
    width: 95%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    box-shadow: 3px 3px 3px rgb(91, 89, 89);



}

.full-price {
    float: left;
    margin-right: 10px;
    text-decoration: line-through;
}

.brand-font {
    margin-top: 0px;
    font-weight: bolder;
}

.price-font {
    float: right;
    color: red;
}

.item-style {
    margin-top: 5px;
}

.item-size {
    margin-top: 0px;
    text-decoration: underline;
    margin-left: 25%;
    margin-right: 25%;
}

.items-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.no-results {
    color: red;
    margin-right: 5px;
}

.searchBar {
    width: 150px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: white
}

.searchBar::placeholder {
    color: #D9D9D9;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    background-color: transparent;
    color: white;
}



@media (Max-width:48rem) {

    .price-font {
        float: right;
    }

    .brand-font {
        margin-top: 0px;
        font-weight: bolder;
    }



    .item-size {
        margin-top: 0px;
        text-decoration: underline;
        margin-left: 25%;
        margin-right: 25%;
    }



    .parentContainer {
        background-color: #D9D9D9;
        max-width: 100%;
        margin-top: 50px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .searchBarDiv {
        left: 15%;
        width: fit-content;
        height: fit-content;
        position: relative;
    }

    .searchBar {
        height: 40px;
        width: 10px;
        border-style: none;
        padding: 5px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: black;
        padding-right: 40px;
    }

    .searchBar::placeholder {
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    .btn-search {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #ffffff;
        background-color: black;
        pointer-events: painted;
    }

    .btn-search:focus~.searchBar {
        width: 100px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        color: white;
    }

    .searchBar:focus {
        max-width: 100px;
        width: 100px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        color: white
    }

    .aboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303030;
        color: white;
        font-size: medium;
        box-shadow: 5px 5px 5px #A90B0B;
        border-radius: 5px;
        width: 80%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

}

.buyBtn {
    background-color: #A90B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-height: 2rem;
    border-radius: 5rem;
    margin-bottom: .5rem;
}

.no-underline {
    text-decoration: none;
}

.all-buttons {
    background-color: black;
    position: relative;
    margin-top: 15px;
    align-items: baseline
}

.buyNowFont {
    color: white;
    font-size: 15px;

}


.bottom {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

.column {
    float: left;
    width: 25%;


}

.row:after {
    content: "";
    display: table;
    clear: both;

}

.right {
    margin-left: 80%;
    margin-right: 10%;
}

.search-filter {
    display: flex;
    float: right;
}

.searchBarDiv {
    margin-right: 5rem;
    background-size: cover;
    background-position: center;
    max-width: fit-content;
}

.filter-btn {
    position: relative;
    background-color: black;
    float: right;
    margin-right: 2rem;
    color: white;
    border-radius: 1rem;

}

.addWish-Heart {
    position: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 80%;
    margin-top: 5px;


}

.RemoveWish-Container {
    position: flex;
    justify-content: flex-end;
    margin-left: 80%;
    margin-top: 5px;

}

.wish-Header {
    position: relative;
    font-size: large;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}

.wishDisplayBtn {
    font-size: 1rem;
    margin-top: .5rem;
    border: none;
    background: none;

}

.wishDisplay {
    position: fixed;
    background-color: #D9D9D9;
    width: 40%;
    height: 200px;
    margin-top: 25px;
    margin-left: 50%;
    overflow: scroll;
    display: block;
    flex-wrap: wrap;
    z-index: 1;
    opacity: .95;
}

.wishItem {
    position: relative;
    color: black;
    background-color: #E9E6E6;
    border-radius: .5rem;
    box-sizing: 300px;
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px rgb(91, 89, 89);
}

.item-button {
    margin-top: .5rem;
    margin-right: 5px;
    list-style-type: none;
    cursor: pointer;
}

.button-container {
    color: black;
    background-color: #E9E6E6;
    position: absolute;
    width: 100px;
    overflow: auto;
    margin-left: 10px;
    margin-top: 2rem;

}

@media (max-width:48rem) {
    .search-filter {
        display: contents;
        align-items: center;


    }

    .searchBarDiv {
        margin-left: 25%;
        margin-right: 25%;


    }

    .filter-btn {
        margin-right: 1rem;
    }

    .sortBtn {
        margin-left: 1rem;
        background: none;
    }

    .hamburgerMenu {
        border: none;
        background: none;
        color: white;
        float: left
    }
}

.button-container {
    color: black;
    background-color: #E9E6E6;
    position: absolute;
    width: 100px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 2rem;
    right: 0
}

.sortPriceBtn {
    position: relative;
    float: left;
    margin-left: 1rem;
}

.sortBtn {
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.sortHigh {
    margin-top: .5rem;
    margin-right: 5px;
    list-style-type: none;
    cursor: pointer;

}

.pricelist {
    color: black;
    background-color: #E9E6E6;
    position: absolute;
    max-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 10px;
    margin-top: 2rem
}


.pages a {
    color: #E9E6E6;
    margin-right: 2rem;
    text-decoration: none;
}


/*about page*/

.pie-container {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    margin-left: 25%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotatePie 6s linear infinite;
    margin-top: 100px;
}


.pie-container img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transform-origin: 0 100%;
}

.pie-container img:nth-child(1) {
    transform: rotateY(0deg) translateZ(200px);
}

.pie-container img:nth-child(2) {
    transform: rotateY(72deg) translateZ(200px);
}

.pie-container img:nth-child(3) {
    transform: rotateY(144deg) translateZ(200px);
}

.pie-container img:nth-child(4) {
    transform: rotateY(216deg) translateZ(200px);
}

.pie-container img:nth-child(5) {
    transform: rotateY(288deg) translateZ(200px);
}

@keyframes rotatePie {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


/*contact Page*/
.social-media {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

#socials {
    font-size: 5rem;
    background-color: #18191f;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080 2px 2px 10px #00000080 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff
}



/* .pie-container {
    margin-top: 100px;
    width: 400px;
    height: 400px;
    margin-left: 25%;
    position: relative;
}

.pie-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transform-origin: center center;
}

.pie-images:nth-child(1) {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
}

.pie-images:nth-child(2) {
    transform: rotate(72deg) translateX(100px) rotate(-72deg);
}

.pie-images:nth-child(3) {
    transform: rotate(144deg) translateX(100px) rotate(-144deg);
}

.pie-images:nth-child(4) {
    transform: rotate(216deg) translateX(100px) rotate(-216deg);
}

.pie-images:nth-child(5) {
    transform: rotate(288deg) translateX(100px) rotate(-288deg);
} */